### GitHub-based template

# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# AppCode
.idea/

# Local configuration
localConfig.json

# sometimes generated during merge operations with opendiff
*.orig

# generated documentation and stats
docs
.sass-cache
stats

